p.code-text {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

k1 {
    color: blue;
}

k2 {
    color: rgb(22, 115, 190);
}

comm {
	color: #088A29;
}

quot {
	color: #DF3A01;
}

t {
    margin-left: 2em;
}

n {
    font-family: "Courier New", Courier, monospace;
    font-size: small;
}

.code {
    color: darkslategray;
    word-wrap: break-word;
    background-color: whitesmoke;
    font-family: "Courier New", Courier, monospace;
	font-size: small;
}

.decor {
	vertical-align: middle;
}

p { 
	text-align: justify;
	text-indent: 2em;
	padding-right: 10px;
	padding-left: 10px;
}

body {overflow-x: hidden;}
